fox-calendar {
	fixed: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index:999;
	background:rgba(0,0,0,0.5) !important;
	display:block;
}
fox-calendar {
	background: #fff;
	color: #161616;
}
.fox-calendar-week-header {
	height: 24px;
	line-height: 24px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	background: #f8f8f8;
	border-bottom: 1px solid #d7d7d7;
	box-shadow: 0px 2px 5px #f8f8f8;
}
.fox-calendar-week-item {
	-webkit-box-flex: 1.0;
	text-align: center;
	font-size: 10px;
}
.fox-calendar-month-detail {

}
.fox-calendar-month-detail .fox-calendar-row {
	display: -webkit-box;
	color: #000;
}
.fox-calendar-month-detail .fox-calendar-col {
	-webkit-box-flex: 1.0;
	width: 0px;
	text-align: center;
	height: 44px;
	font-size: 14px;
	line-height: 44px;
	border-bottom: 1px solid #ccc;
	background:#fff;
}
.fox-calendar-col.clear {
	border: none;
}
.fox-calendar-detail-content {
	height: 0px;
	-webkit-box-flex: 1.0;
	overflow: hidden;
}
.fox-calendar-detail {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.fox-calendar-selector {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	background: #f8f8f8;
}

.fox-calendar-selector fox-icon {
	color: #007aff;
	font-size: 20px;
	padding: 8px;
	display: block;
}

.fox-calendar-selector-left, .fox-calendar-selector-right {
	-webkit-box-flex: 1.0;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
}
.fox-calendar-selector label {
	-webkit-box-flex: 1.0;
	display: block;
	text-align: center;
}
.fox-calendar-toolbar {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	background: #f8f8f8;
	border-bottom: 1px solid #d7d7d7;
	box-shadow: 0px 2px 5px #f8f8f8;
}

.fox-calendar-toolbar button {
	-webkit-box-flex: 1.0;
	background: none;
	border: none;
	color: #007aff;
	font-size: 14px;
	padding: 8px;
	display: block;
	outline: none;
}
.fox-calendar-toolbar .fox-calendar-cancel {
	text-align: left;
}
.fox-calendar-toolbar .fox-calendar-set {
	text-align: right;
}

